<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Fugitive 3D</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/management/css/base.css">

		{% block head %}
		{% endblock %}
	</head>
	<body>
		<a href="/management" class="home-button">&laquo; Management Home</a>
		{% block content %}
		{% endblock %}
	</body>
</html>